<div class="base-verify">
    <div class="back-to-home">
        <swt-button color="basic" text="Trang chủ" [class]="'home'" [width]="180" (onClick)="backToHome()"></swt-button>
    </div>

    <div class="base-verify-form shadow">
        <ng-content select=".verify-title"></ng-content>
        <verify-box [allowNumbersOnly]="true" [verifyText]="verifyText" (onReady)="verify($event)" (onResend)="resend($event)"></verify-box>
        <ng-content select=".verify-content"></ng-content>
        <ng-content select=".verify-footer"></ng-content>
    </div>
</div>