<div class="income-list-dynamic">
    <div class="fn">
        <div class="fn-left">
            <dx-text-box *ngIf="enableSearch" mode="search" placeholder="Tìm kiếm..." class="search-input" (click)="openFilter()"></dx-text-box>
            <div class="unselect" *ngIf="isShowDeleteBtn" (click)="grid.changeAllCheckBox(false)">
                <span style="margin-right: 8px;">Bỏ chọn {{selectedItemCount | NumberFormatPipe}} bản ghi</span>
            </div>
            <div class="delete">
                <swt-button #deleteBtn *ngIf="isShowDeleteBtn" [actionPermissions]="[ActionPermission.Delete]" [buttonType]="ButtonType.STROKED" text="Xóa" [color]="ButtonColor.WARN" [width]="80" [height]="32" (onClick)="confirmDelete()"></swt-button>
            </div>
        </div>
        <div class="fn-right">
            <swt-button class="income-category" (onClick)="toCategory()" [finishImmediately]="true" text="Loại thu nhập" matTooltip="Quản lý loại thu nhập" [width]="100" [height]="32" [buttonType]="ButtonType.STROKED"></swt-button>
            <div class="reload" (click)="reload()" matTooltip="Tải lại dữ liệu"></div>
            <div class="export-excel" (click)="openPopupExport()" matTooltip="Xuất khẩu dữ liệu ra file excel"></div>
            <div class="btns" *ngIf="!gridOnly">
                <swt-button #addBtn [buttonType]="ButtonType.STROKED" [width]="88" [height]="32" text="Thêm" (onClick)="toAddForm()" [actionPermissions]="[ActionPermission.Add]" [iconButtonType]="IconButtonType.ADD"></swt-button>
            </div>
            <div class="more" [matMenuTriggerFor]="more"></div>
        </div>
    </div>

    <div class="customize-above-grid">
        <ng-content selector=".customize-above-grid-content"></ng-content>
    </div>

    <div class="total-income">
        <div>Tổng thu: {{ totalValue | NumberFormatPipe}}</div>
        <div>Số dư hiện tại: {{ accountBalance | NumberFormatPipe}}</div>
        <skeleton-loading *ngIf="loadingTotal"></skeleton-loading>
    </div>
    <div class="grid">
        <swt-grid #grid [data]="data" [isLoading]="isLoading && isFirstLoad" [displayColumn]="displayColumn" [current]="current" [total]="total" [scrollPosition]="200" [enableEmitScroll]="enableEmitScroll" (rowClick)="onRowClick($event)" (rowDblClick)="toViewForm($event)"
            (detectScrollToAnPosition)="onScrollToPosition($event)" (checkedEvent)="decideToShowDelete($event)" (sort)="sortGrid($event)">
        </swt-grid>

        <div class="loading-bottom" *ngIf="isLoading && !isFirstLoad">
            Đang tải...
        </div>
    </div>
</div>


<mat-menu #more="matMenu" class="list-dynamic-mat-menu">
    <div class="more-content">
        <div class="item income-category" (click)="toCategory()" matTooltip="Quản lý loại thu nhập">
            <div class="icon"></div>
            <div class="text">Loại thu nhập</div>
        </div>

        <div class="item reload" (click)="reload()" matTooltip="Tải lại dữ liệu">
            <div class="icon"></div>
            <div class="text">Tải lại</div>
        </div>

        <div class="item print" (click)="print()">
            <div class="icon"></div>
            <div class="text">In</div>
        </div>

        <div class="item import" (click)="Utility.featureIsDeveloping($event)" *ngIf="!gridOnly">
            <div class="icon"></div>
            <div class="text">Nhập khẩu</div>
        </div>

        <div class="item export" (click)="openPopupExport()" matTooltip="Xuất khẩu dữ liệu ra file excel">
            <div class="icon"></div>
            <div class="text">Xuất khẩu</div>
        </div>
    </div>
</mat-menu>