::ng-deep {
    .mat-dialog-container {
        padding-top: 24px !important;
    }
    .mat-dialog-title {
        cursor: move;
    }
    .cdk-overlay-pane {
        // width: unset !important;
        // height: unset !important;
        max-width: 90% !important;
    }
    .mat-dialog-container {
        resize: both;
    }
}
