.files-in-folder {
  height: 100%;
  overflow-y: auto;
  .manager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff7f7;
    .m-left {
      .total {
        flex-basis: 100%;
        margin-top: 8px;
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }
    .m-right {
      .icon-manager {
        width: 20px;
        height: 20px;
        background-image: url(../../../../assets/img/icons_v2.svg);
        background-position: -339px -339px;
        cursor: pointer;
      }
    }
  }
  .files {
    padding: 4px 16px;
    .file {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      margin-bottom: 28px;
      border: 1px solid #ddd;
      img,
      video,
      .player {
        width: 100%;
        max-width: 500px;
      }

      .check-box {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}

.upload-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  min-height: 100px;
  .uploadInp {
    flex-basis: 100%;
    margin-bottom: 12px;
  }
}

.manager-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 160px;
  .btn {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    margin: 0 4px;
    transition: all 0.3s;
    cursor: pointer;
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-image: url(../../../../assets/img/icons_v2.svg);
    }
    .text {
      font-weight: 450;
    }
    &.upload {
      .icon {
        background-position: 0 -16px;
      }
    }
    &.clear-cache {
      .icon {
        background-position: -240px -16px;
      }
    }
    &.delete {
      .icon {
        background-position: -193px 0px;
      }
    }
    &.move {
      .icon {
        background-position: -207px -96px;
      }
    }

    &:hover {
      background-color: #ddd;
    }
  }

}
