.salary-converter {
    height: 100%;
    padding: 8px;
    overflow: auto;
    * {
        font-size: 14px;
    }
    .converter {
        max-width: 680px;
        padding: 16px;
        margin: 8px auto;
        border: 1px dotted #c3bcbc;
        border-radius: 4px;
        .input {
            .input-item {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                label {
                    width: 180px;
                    font-weight: 500;
                }
            }
            .converter-btn {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
        .result-and-explain {
            margin-top: 24px;
            .explain-label,
            .result-label,
            .tax-label {
                margin: 16px 0;
                font-weight: 500;
                font-size: 17px;
                color: rgb(13, 220, 13);
            }
            .explain-item,
            .converted-salary,
            .current-value {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px;
                border-bottom: 1px dotted #ddd;
                p {
                    margin: 0;
                }
                p:first-child {
                    font-weight: 500;
                }
                p:last-child {
                    font-weight: 450;
                }
            }
            .current-value {
                margin-bottom: 12px;
                background-color: #ddd;
                p:last-child {
                    font-weight: 550;
                }
            }
            .tax-detail {
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 6px;
                    p {
                        font-weight: 500;
                        margin: 0;
                    }
                    p:first-child {
                        font-weight: 500;
                    }
                    p:last-child {
                        font-weight: 450;
                    }
                }
                .tax-detail-label {
                    margin-bottom: 12px;
                    background-color: #ddd;
                    p:last-child {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .salary-converter {
        * {
            font-size: 13px;
        }
    }
}