<div class="salary-converter">
    <div class="converter">
        <div class="input">
            <!-- Thu nhập -->
            <div class="input-item salary">
                <label>Thu nhập</label>
                <dx-number-box [(value)]="salary" [min]="0" format="#,##0"></dx-number-box>
            </div>

            <!-- Số tiền đóng bảo hiểm -->
            <div class="input-item insurance-fees">
                <label>Số tiền đóng bảo hiểm</label>
                <dx-number-box [(value)]="baseSalary" [min]="0" format="#,##0"></dx-number-box>
            </div>

            <!-- Vùng -->
            <div class="input-item insurance-fees">
                <label>Vùng</label>
                <dx-radio-group [items]="regions" [(value)]="region" layout="horizontal">
                </dx-radio-group>
            </div>

            <!-- Số người phụ thuộc -->
            <div class="input-item dependents">
                <label>Số người phụ thuộc</label>
                <dx-number-box [(value)]="dependents" [min]="0" format="#,##0"></dx-number-box>
            </div>

            <div class="converter-btn">
                <div class="btn">
                    <swt-button #btn1 text="GROSS sang NET" (onClick)="convert(1)"></swt-button>
                </div>

                <!-- <div class="btn">
                    <swt-button #btn2 text="NET sang GROSS" (onClick)="convert(2)"></swt-button>
                </div> -->
            </div>
        </div>

        <div class="explain" *ngIf="isConverted">
            <div class="result">
                <div class="result-label">Kết quả</div>
                <div class="converted-salary">
                    <p>Lương GROSS</p>
                    <p>{{salary | NumberFormatPipe}}</p>
                </div>
                <div class="converted-salary">
                    <p>Lương NET</p>
                    <p>{{realSalary | NumberFormatPipe}}</p>
                </div>
                <div class="converted-salary">
                    <p>Bảo hiểm </p>
                    <p>{{insuranceValue | NumberFormatPipe}}</p>
                </div>
                <div class="converted-salary">
                    <p>Thuế TNCN</p>
                    <p>{{tax | NumberFormatPipe}}</p>
                </div>
            </div>

            <p class="explain-label">Diễn giải chi tiết</p>

            <div class="current-value">
                <p>Lương GROSS</p>
                <p>{{salary | NumberFormatPipe}}</p>
            </div>

            <div class="explain-item social-insurance">
                <p class="detail-label">Bảo hiểm xã hội (8%)</p>
                <p>{{-socialInsuranceValue | NumberFormatPipe}}</p>
            </div>
            <div class="explain-item health-insurance">
                <p class="detail-label">Bảo hiểm y tế (1.5%)</p>
                <p>{{-healthInsuranceValue | NumberFormatPipe}}</p>
            </div>
            <div class="explain-item unemployment -insurance">
                <p class="detail-label">Bảo hiểm thất nghiệp (1%)</p>
                <p>{{-unemploymentInsuranceValue | NumberFormatPipe}}</p>
            </div>

            <div class="current-value">
                <p>Thu nhập trước thuế</p>
                <p>{{salary - insuranceValue | NumberFormatPipe}}</p>
            </div>

            <div class="explain-item">
                <p class="detail-label">Giảm trừ gia cảnh bản thân</p>
                <p>{{-11000000 | NumberFormatPipe}}</p>
            </div>

            <div class="explain-item">
                <p class="detail-label">Giảm trừ gia cảnh người phụ thuộc </p>
                <p>{{-(dependents * 4400000) | NumberFormatPipe}}</p>
            </div>

            <div class="current-value">
                <p>Thu nhập chịu thuế</p>
                <p>{{remainder | NumberFormatPipe}}</p>
            </div>

            <div class="explain-item">
                <p class="detail-label">Thuế thu nhập cá nhân</p>
                <p>{{-tax | NumberFormatPipe}}</p>
            </div>

            <div class="current-value">
                <p>Lương NET</p>
                <p>{{realSalary | NumberFormatPipe}}</p>
            </div>
        </div>
    </div>
</div>