.chart-top-income {
    height: 100%;
    .no-data {
        flex-wrap: wrap;
        width: 180px;
        font-size: 15px;
        font-weight: 550;
        .no-data-img {
            width: 140px;
            height: 140px;
            background-image: url(../../../../../assets/img/no-data-concept.webp);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .text {
            flex-basis: 100%;
            text-align: center;
        }
    }
}