<div class="files-in-folder" (scroll)="onScroll($event)">
  <div class="manager">
    <div class="m-left">
      <p class="total">{{imageCount}} image(s) - {{videoCount}} video(s)</p>
    </div>
    <div class="m-right">
      <div class="icon-manager" [matMenuTriggerFor]="managerRight"></div>
    </div>

  </div>
  <div class="files">
    <div class="file" *ngFor="let url of urls" (dblclick)="url.checked = !url.checked" [ngClass]="url.checked ? 'selected' : ''">
      <img *ngIf="!url.isVideo" [src]="url.url" alt="">

      <div *ngIf="url.isVideo" class="player">
        <video id="plyrID" controls playsinline loop
          poster="https://assets.aboutamazon.com/66/f3/cb7e8e804a1f991c96593cf465e1/aws-logo-white-on-si.jpg">
          <source [src]="url.url" type="video/mp4">

          <!-- Caption files -->
          <track kind="captions" label="English" srclang="en" [src]="url.url" default>

          <!-- Fallback for browsers that don't support the <video> element -->
          <a [href]="url.url" download>Download</a>
        </video>
      </div>

      <dx-check-box class="check-box" [(value)]="url.checked"> </dx-check-box>
    </div>
  </div>

  <spinner-loading *ngIf="isLoading"></spinner-loading>
  <swt-deleting *ngIf="isDeleting"></swt-deleting>
</div>

<!-- <mat-menu #uploadMenu (closed)="resetFiles()">
  <div class="upload-form">
    <input #input type="file" #file class="uploadInp" (change)="selectedFile(file.files)" accept="*" [multiple]="true"
      (click)="$event.stopPropagation()">
    <swt-button #saveFileBtn [actionPermissions]="[ActionPermission.Add]" text="Tải lên" [width]="100" [height]="32"
      [color]="ButtonColor.BASIC" (onClick)="saveFiles()"></swt-button>
  </div>
</mat-menu> -->

<mat-menu #managerRight>
  <div class="manager-right">
    <!-- <div class="btn">
      <swt-button [actionPermissions]="[ActionPermission.Add]" [matMenuTriggerFor]="uploadMenu" text="Upload type 1"
        [finishImmediately]="true" [height]="28" [color]="ButtonColor.BASIC"></swt-button>
    </div> -->

    <div class="btn delete" *ngIf="anyChecked()" (click)="confirmDelete()">
      <div class="icon"></div>
      <div class="text">Xóa</div>
    </div>

    <div class="btn move" *ngIf="anyChecked()" (click)="move()">
      <div class="icon"></div>
      <div class="text">Di chuyển</div>
    </div>

    <div class="btn upload" (click)="openUploader()">
      <div class="icon"></div>
      <div class="text">Tải lên tệp</div>
    </div>

    <div class="btn clear-cache" (click)="clearCache()">
      <div class="icon"></div>
      <div class="text">Làm mới dữ liệu</div>
    </div>
  </div>
</mat-menu>
