.secret-file-console {
  height: 100%;
  padding: 16px;
  .security {
    display: flex;
    justify-content: center;
    height: 100%;
    .security-content {
      margin-top: 100px;
      .title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 500;
      }
      .pwd-input {
        margin-bottom: 24px;
      }
      .commit-btn {
        display: flex;
        justify-content: center;
      }
    }
  }

  .content {
    position: relative;
    height: 100%;
    overflow: auto;


    .create {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    .folders {
      // height: 100%;
      .folder {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;
        .icon {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          background-image: url(../../../assets/img/icons_v2.svg);
          background-repeat: no-repeat;
          background-position: -208px -176px;
        }
      }
    }
  }
}
