<div class="secret-file-console">
  <div class="security" *ngIf="!passSecurity">
    <div class="security-content">
      <p class="title">Nội dung được bảo vệ, nhập mã bí mật: </p>
      <dx-text-box class="pwd-input" mode="password" [(value)]="secretKey" (onEnterKey)="commitByEnter()"></dx-text-box>
      <div class="commit-btn">
        <swt-button #commitBtn text="Commit" [width]="160" [height]="34" [buttonType]="ButtonType.STROKED"
          (onClick)="commit()"></swt-button>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="passSecurity">
    <skeleton-loading *ngIf="isLoading"></skeleton-loading>

    <div class="create">
      <dx-text-box [(value)]="newFolder"></dx-text-box>
      <swt-button #createFolderBtn text="Thêm folder" [width]="120" [height]="36" [color]="ButtonColor.BASIC" (onClick)="createFolder()"></swt-button>
    </div>

    <div class="folders">
      <div *ngFor="let folder of folders">
        <div class="folder" (click)="redirectToFolder(folder.folderName)">
          <div class="icon"></div>
          <div class="folder-name">{{folder.folderName}}</div>
        </div>
      </div>


    </div>
  </div>
</div>
