<div class="secret-file-console">
    <div class="security" *ngIf="!passSecurity">
        <div class="security-content">
            <p class="title">Nội dung được bảo vệ, nhập mã bí mật: </p>
            <dx-text-box class="pwd-input" mode="password" [(value)]="secretKey" (onEnterKey)="commitByEnter()"></dx-text-box>
            <div class="commit-btn">
                <swt-button #commitBtn text="Commit" [width]="160" [height]="34" [buttonType]="ButtonType.STROKED" (onClick)="commit()"></swt-button>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="passSecurity">
        <list-dynamic #listDynamic [displayColumn]="displayColumn" serviceName="ass" controller="folder" [customizeViewFunc]="customizeViewFunc" [customizeAddFunc]="customizeAddFunc"></list-dynamic>
    </div>
</div>
