<div class="swt-uploader">

  <div class="uploader">
    <ngx-dropzone (change)="onSelect($event)" [multiple]="multiple" [accept]="allowedFileExtensions" [expandable]="false" [disabled]="disabled">
      <ngx-dropzone-label>
        <div>Kéo và thả ảnh vào đây</div>
        <div>Hoặc ấn vào để chọn ảnh</div>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <div class="upload-btn" *ngIf="!emitAutomatically">
    <swt-button #uploadBtn text="Tải lên" (onClick)="upload()" [disabled]="files.length === 0"></swt-button>
  </div>
</div>
