<div class="not-found">
  <div class="wrapper">
    <!-- <p style="font-size: 16px; font-weight: bold;">Bee không tìm thấy trang này, tức mà ngất luôn á</p> -->
    <img src="../../../../assets/img/404-error.webp" alt="404-error" />
      <!-- <video width="240" height="300" controls autoplay loop style="display: block; margin: 0 auto;">
        <source src="../../../../assets/img/404-bee.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video> -->
    <div class="back">
      <swt-button
        text="Quay lại"
        [color]="ButtonColor.BASIC"
        [width]="120"
        [iconButtonType]="IconButtonType.BACK"
        (onClick)="back()"
      ></swt-button>
    </div>
  </div>
</div>
